@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Chivo Mono', monospace ;
}

/* LOGO */ 

header{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

/* NAV */

nav{
    width: 100%;
    height: 50px;
    padding: 13px 0;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(242, 229, 206);
    border-top: 2px solid rgb(240, 184, 79) ;
    color: rgb(16, 113, 113);
}

/* MAIN */

main{
    width: 100%;
    height:100px;
}

.titolo{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.text-1{
    padding: 0;
    width: 720px;
    margin: 20px auto 0 auto;
}

.foto{
    margin-top: 15px;
    text-align: center;
    display: block;
}
.focaccia{
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.2);
}

.text-2{
    color: rgba(136, 136, 136, 0.8);
    margin-top: 20px;
    display: block;
}

.riga{
    width: 720px;
    padding-left: 20px;
    border-left: 2px solid rgb(240, 184, 79);
    margin: 30px auto 0 auto;
}

.text-3{
    width: 720px;
    display: block;
    font-size: 20px;
}

.text-4{
    width: 720px;
    display: block;
}

.ingredienti{
    width: 720px;
    font-size: 35px;
    border-bottom: 2px solid rgb(135, 187, 187);
    margin: 50px auto 0 auto;
    padding-bottom: 30px;
}
.no-order{
    width: 720px;
    margin: 50px auto 0 auto;
    font-size: 20px;
}

ul{
    padding-left: 40px;
    margin-top: 20px;
}

li{
    padding-bottom: 15px;
}

.metodi{
    width: 720px;
    font-size: 35px;
    border-bottom: 2px solid rgb(135, 187, 187);
    margin: 50px auto 0 auto;
    padding-bottom: 30px;
}

.order{
    width: 720px;
    margin: 50px auto 0 auto;
    font-size: 20px;
}
ol{
    padding-left: 60px;
    margin-top: 20px;
}

.fine{
    width: 720px;
    margin: 50px auto 0 auto;
    font-size: 20px;
}

.link{
    color: rgb(135, 187, 187);
}
