@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Chivo Mono', monospace ;
}

/**
* GLOBALE 
**/

a{
    color: #177;
}

/**
* HEADER 
**/

header{
    text-align: center;
}

#logo{
    width: 200px;
}

#nav{
    background-color: rgba(253, 251, 241, 0.8);
    padding: 10px 0;
    border-top: 2px solid #fee8af;
    margin-top: 15px;
    color: #177;
}

/**
* MAIN 
**/

main{
    width: 720px;
    margin: auto;
    text-align: center;
}

.titolo h1{
    margin: 50px 0 30px;
}

.text-1 {
    text-align: left;
    margin-bottom: 20px;
}

.foto .focaccia{
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.text-2{
    color: rgba(0, 0, 0, 0.4);
    padding-top: 15px ;
}

.riga{
    text-align: left;
    border-left: 2px solid #ffebbb;
    padding-left: 20px;
}

.text-3{
    font-size: 20px;
    color: #b5460f;
}

.ingredienti, .metodi {
    text-align: left;
    border-bottom:2px solid #d1f7f7;
    margin: 60px 0 40px;
    padding-bottom: 20px;
}

.no-order, .order {
    text-align: left;
    margin-bottom: 30px;
}

.no-order ul{
    padding-left: 30px;
    margin-top: 20px;
}

.order ol{
    padding-left: 40px;
}
li{
    padding-bottom: 10px;
}

#order-li h3{
    padding: 20px 0;
}

/**
* FOOTER 
**/

.fine{
    margin: auto;
    width: 720px;
}